.car-grid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.car-card {
  width: 30%;
  background: #8f5faa; /*#f4f4f4;*/
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.car-content {
  display: flex;
}
.car-card .left-side-card, .car-card .right-side-card {
  width: 50%;
}
.footer-card {
  width: 100%;
}
.card-image {
  width: 100%;
}

button {
  margin-right: 8px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
}

button:hover {
  opacity: 0.9;
}
